[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# My Python package repo on web.ermin

[[source]]
url = "http://192.168.1.102/python-packages"
verify_ssl = false
name = "ermin"

[packages]
# artifacts
metrestapi = {version="1.0.6", index="ermin"}
metminifuncs = {version="1.0.4", index="ermin"}
metfuncs = {version="1.0.25", index="ermin"}

pytz = "==2021.1"
requests = "==2.25.1"

[dev-packages]

[requires]
python_version = "3.7"
